body {
        font-family: 'Kanit';
}

h1 {
    font-size: 36px;
    color: #023960;
    text-align: center; /* กึ่งกลาง */
    padding: 7px; /* เว้นระยะภายในกรอบ */
    border: 4px solid #0e446b; 
    border-radius: 80px; /* มุมมน */
    background-color: #f1dd6a; 
    display: inline-block; /* กรอบพอดีกับข้อความ */
    text-shadow: 3px 3px 5px rgba(251, 252, 255, 0.829); /*x y blur color*/
}

h1:hover{
    border: 3px solid #f1dd6a;
    background-color: #0c5081; 
    color: #f1dd6a;
    text-shadow: 3px 3px 5px rgba(102, 89, 102, 0.829); /*x y blur color*/
    cursor: pointer;
}

form {
    margin: 0;
    padding: 0px;
    line-height: 1.5;
}

button {
    background-color: #006ebc;
    margin-right: 145px;
    margin-bottom: 20px;
    margin-top: 18px;
    cursor: pointer;
}

button:active{
     border-color: #006ebc;
}
button {
    background-color: #f1dd6a;
    border-color: beige;
    color: antiquewhite;
}

button:hover {
    background-color: #006ebc;
    color: #f1dd6a;
}

input:hover, textarea:hover {
    background: #9d9046;; 
    border-color:#f1dd6a;
    font-style: italic;
    
}
input:hover, textarea:hover {
    color: rgb(77, 82, 65); 
}

input, textarea {
    transition: background-color 0.8s ease; /*เปลี่ยนสีตอนกรอก*/
}

input:focus, textarea:focus {
    background-color: #f1dd6a; /* ตอนกรอกข้อมูล */
}

.button-group {
    display: flex;
    gap: 10px;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}

